* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(2, 6, 23);
}
.center {
  width: 100%;
  display: flex;
  max-width: 1480px;
  margin: 0% auto;
  padding: 0 2%;
}

.alignflex {
  justify-content: space-between;
}

header {
  margin: 30px 0;
}

.logo h1 {
  color: white;
  font-size: 22px;
  background-image: linear-gradient(180deg, aquamarine, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu a {
  display: inline-block;
  color: white;
  margin: 0 38px;
  text-decoration: none;
}

.menu-btn a {
  margin: 0 50px;
  border: 2px solid white;
  width: 190px;
  padding: 10px;
  color: white;
  border-radius: 18px;
  text-decoration: none;
  background-color: transparent;
}
.menu-btn a:hover {
  background-color: aquamarine;
  color: black;
  border: 3px solid rgb(255, 255, 255);
  font-size: 17px;
}

.menu a:hover {
  color: aquamarine;
  font-size: 15px;
}

.main-1 {
  margin: 50px;
}
.main-1 h1 {
  font-size: 30px;
  margin: 0 520px;
  background-image: linear-gradient(180deg, aquamarine, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main p {
  font-size: 30px;
  background-image: linear-gradient(180deg, aquamarine, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.diferencial-single i {
  color: deepskyblue;
  font-size: 30px;
}
.diferencial-single h3 {
  color: white;
  font-size: 19px;
  margin: 10px 0;
}
.diferencial-single p {
  color: white;
  font-size: 14px;
}
.diferencial-single {
  margin: 90px;
}
.diferencial-double {
  color: white;
  width: 100%;
  background-color: rgb(36, 36, 47);
  border-radius: 6px;
  margin: 0 50px;
}

.diferencial-double h3 {
  margin: 10px;
}
.diferencial-double i {
  color: deepskyblue;
  font-size: 30px;
  margin: 5px;
}
.diferencial-double p {
  color: white;
  font-size: 18px;
  margin: 10px;
}
.frase-efeito h3 {
  color: white;
  padding: 2px;
  margin: 0 620px;
  margin: top px;
}

.frase-efeito h3:hover {
  color: aquamarine;
}

.final {
  display: flex;
  margin-top: 0 15px;
  font-size: 18px;
}
.mid {
  width: 100%;
  display: flex;
  margin: 0% 30px;
  padding: 0 480px;
}
.mid-text a {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.mid-text img {
  padding: 18px;
}
.mid-text a:hover {
  color: aquamarine;
}
